In [2]:
from google.cloud import bigquery
from google.oauth2 import service_account

credentials = service_account.Credentials.from_service_account_file(
    "My First Project-801cca1315e6.json",
    scopes=["https://www.googleapis.com/auth/cloud-platform"],
)
client = bigquery.Client(
    credentials=credentials,
    project=credentials.project_id,
)

hn_dataset_ref = client.dataset('hacker_news', project='bigquery-public-data')

hn_dset = client.get_dataset(hn_dataset_ref)

[x.table_id for x in client.list_tables(hn_dset)]

['comments', 'full', 'full_201510', 'stories']

In [8]:
df = client.query("""
SELECT *
FROM `bigquery-public-data.hacker_news.comments`
ORDER BY time DESC
LIMIT 500000;
""").result().to_dataframe()

In [10]:
df.tail()

,id,by,author,time,time_ts,text,parent,deleted,dead,ranking
499995,9772254,wnewman,wnewman,1435159762,2015-06-24 15:29:22+00:00,"I think <a href=""http:&#x2F;&#x2F;judithcurry....",9771998,None,None,0
499996,9772253,scast,scast,1435159761,2015-06-24 15:29:21+00:00,I was looking into this. Sadly it requires tha...,9771891,None,None,21
499997,9772252,gmarx,gmarx,1435159746,2015-06-24 15:29:06+00:00,Wasn&#x27;t the start of this timeline the end...,9771493,None,None,23
499998,9772251,wmil,wmil,1435159729,2015-06-24 15:28:49+00:00,India seems like a very poor example.<p>Instea...,9770059,None,None,5
499999,9772250,infostruct,infostruct,1435159702,2015-06-24 15:28:22+00:00,Working with Swift on this project was a reall...,9772132,None,None,0