### Initial experimentation using Hacker News API and returned data

##### offical docs -> https://github.com/HackerNews/API
##### .raml -> https://api.stoplight.io/v1/versions/DaBbQv9WoET786zHn/export/raml.yaml

In [2]:
import pandas as pd
import requests

In [ ]:
hnapi_base = 'https://hacker-news.firebaseio.com/v0/'

latest = hnapi_base + 'maxitem.json'

def hit(endpoint):
    return requests.get(endpoint).json()

limit = 10000

max_uri = hit(latest)
min_uri = max_uri - limit

batch = list(range(min_uri, max_uri+1))
comments = []

for item in batch:    
    uri = hnapi_base+f'item/{item}.json'
    response = requests.get(uri).json()
    
    if response is None:
        continue

    comment = True if response['type'] == 'comment' else False


    if not comment:
        continue
    comments.append(pd.Series(response))


df = pd.DataFrame(comments)

In [4]:
df = pd.read_csv('../data/minimal.csv')
df.head(3)

,id,by,time,parent,text,kids,deleted
0,22445632,Apocryphon,1582918645,22443772,Andrew Walz&#x2F;Deez Nuts unity ticket 2020,NaN,NaN
1,22445633,Animats,1582918658,22440816,Those are called &quot;multi-chip modules&quot...,NaN,NaN
2,22445634,munk-a,1582918668,22445244,I also generally think that writing boilerplat...,NaN,NaN

In [5]:
df.text

0            Andrew Walz&#x2F;Deez Nuts unity ticket 2020
1       Those are called &quot;multi-chip modules&quot...
2       I also generally think that writing boilerplat...
3       Just wanted to say this is what I was looking ...
4       This is the article Day 4. For a bit of contex...
                              ...
8817    Go is used at a bunch of major companies outsi...
8818    Strange, somehow that is exactly what we were ...
8819                                                   ok
8820    This sounds like a dysfunctional company to me...
8821    I didn&#x27;t mean documentation at the code l...
Name: text, Length: 8822, dtype: object

In [6]:
df.by.value_counts()

anonsivalley652    37
saagarjha          36
DoreenMichele      30
kick               28
dang               28
                   ..
pansa2              1
tobltobs            1
slumos              1
airstrike           1
TingPing            1
Name: by, Length: 3976, dtype: int64

In [20]:
import datetime as dt
print(pd.to_datetime(df.time.min(), unit='s'))
print(pd.to_datetime(df.time.max(), unit='s'))

2020-02-28 19:37:25
2020-03-01 07:23:24

In [21]:
df.dtypes

id          int64
by         object
time        int64
parent      int64
text       object
kids       object
deleted    object
dtype: object

### Text

In [22]:
!git branch

* btr-dev
  master